* {
    margin: 0.5rem;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Palatino, Baskerville, serif;
}

h2 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

p {
    line-height: 1.25rem;
}

footer {
    text-align: center;
    color: var(--secondary-text);
    padding: 2rem;
}

img {
    max-width: 90%;
    height: auto;
    max-height: 50rem;
    aspect-ratio: initial;
}
.dark-mode-image {
        display: none;
    }
.light-mode-image {
        display: block;
    }


/*THEMES*/
:root {
    --bg: #fff;
    --text: #272343;
    --secondary-text: #555;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --text: #eee;
        --secondary-text: #aaa;
    }
    
    .dark-mode-image {
        display: block;
    }
    .light-mode-image {
        display: none;
    }
    a {
        color: #00cee3;
    }
}