* {
    margin: 0.5rem;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Palatino, Baskerville, serif;
}

img {
    width: 90%;
    height: auto;
    aspect-ratio: initial;
}
.dark-mode-image {
        display: none;
    }
.light-mode-image {
        display: block;
    }


/*THEMES*/
:root {
    --bg: #fff;
    --text: #272343;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #111;
        --text: #eee;
    }
    
    .dark-mode-image {
        display: block;
    }
    .light-mode-image {
        display: none;
    }
}